@tailwind base;
@tailwind components;
@tailwind utilities;

.listing-container {
  height: 200px; 
}

html::-webkit-scrollbar{
  display: none;
}
html{
  scrollbar-width:none;
}

@media (max-width: 768px) {
  .map-container {
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .map-container {
    height: 100%;
  }
}
